.modal-form-container-modal {
  padding: 1.5rem;
}

.modal-form-container-modal h2 {
  font-size: 2rem;
  text-align: center;
}

.modal-form-container {
  padding-top: 3rem;
  width: 50%;
  margin: auto;
}

.modal-form-container h2 {
  font-size: 3rem;
  text-align: center;
}

.modal-form-container-modal .form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.modal-form-container .form-group input {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/*custom datetime picker styles*/
.datetime-container {
  width: 100%;
}

.custom-datetime-picker-modal {
  font-size: 1.2rem;
}

.custom-datetime-picker {
  font-size: 1.5rem;
}

.error-modal,
.error,
.success-modal,
.success {
  color: #d32f2f;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  padding-left: 5px;
  display: block;
  background: #fdecea;
  border-left: 4px solid #d32f2f;
  padding: 6px 10px;
  border-radius: 4px;
}

.error,
.success {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}

.success-modal {
  color: #2e7d32;
  border-left: 4px solid #2e7d32;
}

.success {
  color: #2e7d32;
  border-left: 6px solid #2e7d32;
}
