.modal-overlay,
.more-events-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.more-events-modal-overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content,
.more-events-modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  max-width: 500px;
  width: 80%;
}

.more-events-modal-content {
  border-radius: 3px;
  background-color: #dfdae3;
  padding: 0;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6b7280;
}
